/* src/App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

/* Adicione esta linha no seu index.css ou App.css para importar a fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');